:root{
    --cor0: white;
    --cor1: #F2F0F1;
    --cor2: #EBECF0;
    --cor3: #C5F0FF;
    --cor4: #29B696;
    --cor5: #EDA1C7;
    --cor6: #EF893C;
    --cor7: black;

    --center: 30px; 
    --radius: 15px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow: hidden;
}

body{
    background-color: var(--cor0);
}

#master{
    background-color: var(--cor2);
    height: 100%;
    width: 100%;
    border: 4px solid var(--cor7);
    border-radius: var(--radius);
}


/*  Header  */

header{
    min-height: 120px;
    margin-top: 5px;
    border-radius: var(--radius);
}

nav{
    min-height: 28px;
    margin: 25px var(--center) 0px 0px;
    padding: 0;
    display: flex;    
    flex-wrap: wrap;
}

nav a{
    border: 2px solid var(--cor7);
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    border-bottom: none;
    padding: 14px 32px 12px 32px;
    text-decoration: none;
    font-size: 18px;
    color:var(--cor7);
    background-color: var(--cor3);
}

#pag_now{
    background-color: var(--cor4);
    color: var(--cor0);
}

#header_botton{
    background-color: var(--cor4);
    min-height: 90px;
    border: 2px solid var(--cor7);
    border-radius: var(--radius);
    margin-top: 0;
    border-left: none;
    border-right: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    padding-right: 50px;        
}

.circulo{
    border: 3px solid var(--cor7);
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-left: auto;
    background-color: var(--cor6);
}

.button_gerar_matriz{
    border: 2px solid var(--cor7);
    border-radius: var(--radius);
    height: 40px;
    width: 120px;
    margin-right: auto;
    background-color: var(--cor3);
    color: var(--cor7);
    font-size: 11pt;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 20px 20px;
}


/*  Main    */

main{
    background-color: var(--cor1);
    min-height: 540px;
    margin: 0px var(--center) var(--center) var(--center);
    border: 2px solid var(--cor7);
    border-radius: var(--radius);
    border-top: none;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}

section{
    background-color: none;
    position: relative;
    position: relative;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
}

.section_in{
    flex: 1;
}

.section_out{
   flex: 1.5;
}

.conteiner{
    background-color: var(--cor5);
    width: 40vw;
    height: 300px;
    border-radius: 10px;
    border: 2px solid var(--cor7);
    position: absolute;
    bottom: 0;
    left: 0;
}

.opcao_direcionado{
    width: 160px;
    height: 42px;
    font-size: 11pt;
    color:#545454;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}


.input_direcionado{
    position: absolute;
    right: 0;
}



/*  Matrizes    */

form{
    min-height: 300px;
    max-width: 350px;
    flex: 1;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.matrix_adj_form{
    left: 0;
}

.matrix_new_form{
    left: calc(40vw - 160px);
}

.matrix_title_box_adj{
    border: 2px solid var(--cor7);
    border-radius: 15px;
    width: 300px;
    height: 40px;
    font-size: 12pt;
    color:var(--cor7);
    background-color: var(--cor0);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrix_title_box_incid{
    border: 2px solid var(--cor7);
    border-radius: 15px;
    width: 280px;
    height: 40px;
    font-size: 12pt;
    color:var(--cor7);
    background-color: var(--cor0);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrix_title_box_geradora_min{
    border: 2px solid var(--cor7);
    border-radius: 15px;
    width: 280px;
    height: 50px;
    font-size: 12pt;
    color:var(--cor7);
    background-color: var(--cor0);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px 0;
}
        
.matrix_table{
    background-color: var(--cor0);
    border: 2px solid var(--cor7);
    border-radius: 15px;
    min-height: 40px;
    max-width: 310px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    /*box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.3);*/
}

td input{
    min-height: 25px;
    max-width: 25px;
    flex: 1;
    font-size: 15pt;
}

td label{
    min-height: 25px;
    max-width: 25px;
    flex: 1;
    font-size: 15pt;
    display: flex;
    padding: 0 5px 0 5px
}


/*  Telas grandes : Até 908 x 855     */


.section_in{
    min-height: 445px;
    max-width: 320px;

}

.section_out{
    min-height: 430px;
    max-width: 725px;
    min-width: 500px;
}

